.search-tool{
    margin-left: 5%;
}
.btn-submit{
    text-align: center;
    padding : 6px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:5;
}

.btn-write{
    text-align: center;
    padding : 6px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:5;
    margin-left : 44%;
    margin-top:10px;
}

#search{
    margin:10px;
    padding: 6px;
    width : 170px;
    height: 20px;
    font-size:10;
    border-radius: 10px;
}

.select-search{
    border-radius: 10px;
    padding: 6px;
    width : 70px;
    width : 110px;
}

.board-title{
    margin-left:5%;
}

.input-Board{
    margin-left:5%;
    
    
}

.search-input{ /*******작성제목을 유져가 기입하는곳*******/
    height: 32px;
    text-align: left;
    width:40%;
    font-size:15;
    border:1px solid black;
    border-radius: 5px;
}

.content{ /*작성내용 작성 하는 공간*/
    width:80%;
    height:200px;
    white-space:pre-line;
    border-radius: 5px;
    border:1px solid black;
}

.input-btn{
    padding : 10px;
    margin-left:23%;
}

.d-btn{
    text-align: center;
    padding : 6px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:5;
}

.m-btn{
    text-align: center;
    padding : 6px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:5;
}

.comment-box{
    padding : 6px;
}

.comment-input{
    height: 26px;
    text-align: left;
    width:70%;
    font-size:15;
    border:1px solid black;
    border-radius: 7px;
}

.comment-span{
    font-size: 5;
}

.paging{
    margin-left: 36%;
    padding : 6px;
}
.bar_menu{
	margin-left : 20px;
	display :flex;
	list-style :none;
	padding-left : 0;
	float: left;
}

.search-form{
    display:inline
}