.search-tool{
    margin-left: 5%;
}
.btn-submit{
    text-align: center;
    padding : 6px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:5;
}

.btn-write{
    text-align: center;
    padding : 6px;
    color : white;
    background : black;
    border-radius: 10px;
    font-size:5;
    margin-left : 44%;
}

#search{
    margin:10px;
    padding: 6px;
    width : 170px;
    height: 20px;
    font-size:10;
    border-radius: 10px;
}

.select-search{
    border-radius: 10px;
    padding: 6px;
    width : 70px;
    width : 110px;
}
