/*body{
    margin:0;
    padding:0;
    height:100vh;
}*/
#wrapper {
    min-height: 100%;
    height: 100vh;
    position: relative;
    padding-bottom: 30rem;
}
#wrapper2 {
    min-height: 100%;
    height: 165vh;
    position: relative;
    padding-bottom: 40rem;
}

#alchoWrapper{
    height: 388px;
}

#header {
    height: 70px;
    background: #ccc;
}

#container {
    overflow: scroll;
    padding: 20px;
}

#footer {
    background-color: black;
    position :fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
}

.menu {
    padding: 10px;
}

.bar_menu {
    margin-left: 20px;
    display: flex;
    list-style: none;
    padding-left: 0;
    float: left;
    color: #ccc
}