body{
    margin:0;
    padding:0;
    height:100vh;
}
#wrapper {

min-height:100vh;
}
#header {
height:70px;
background:#ccc;
}
#container {
    overflow: scroll;
padding:20px;
}
#footer {
    position: fixed;
    background-color: green; 
    left: 0;
    right: 0;
    bottom: 0;
    height: 5rem;
  }
