.mypage{
    display: flex;
    justify-content : center;
}

.myImg{
    display: flex;
    margin-left: 11%;
    width: 80%;
    height: 30%;
}

.myName{
    margin-left: 45%;
}

.myHi{
    margin-left: 20%;
}

.myDrink{
    background-color: rgb(231, 227, 222);
}